body {
    background-image: url(./NickelodeonLogo.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    line-height: 50px;
}

h1 {
    font-size: 50px;
    color: blue;
    font-family: 'Audiowide';
}

p {
    border-style: solid;
    font-size: 27px;
    padding: 25px 25px 25px 25px;
}

input {
    font-size: 22px;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}